<!DOCTYPE html>
<html>
  <body
    style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger"
  >
    <div style="background-color: #6a994e; width: 100%; height: 0.5rem"></div>
    <table style="width: 100%">
      <tr>
        <td style="text-align: center; padding: 0.7rem 0">
          <img src="cid:image_cid" alt="img" style="height: 15rem" />
        </td>
      </tr>
      <tr>
        <td>
          <p
            style="
              font-size: larger;
              text-align: center;
              font-weight: 500;
              margin: 0;
              padding: 0;
            "
          >
            [title_placeholder]
          </p>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; padding: 0.7rem 0">
          <div style="text-align: center">
            <p style="margin: 0; padding: 0; font-size: 0.8rem">
              Welcome to <a>kasemba</a>
            </p>
            <p style="margin: 0; padding: 0; font-size: 0.8rem">
              [subtitle_placeholder]
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; padding: 0.7rem 0">
          <a href="[link_placeholder]">
            <button
              style="
                background-color: #6a994e;
                padding: 0.8rem 1.5rem;
                outline: none;
                border: none;
                font-weight: 600;
                border-radius: 2rem;
                color: white;
              "
            >
              [cta_placeholder]
            </button>
          </a>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; padding: 0.7rem 0">
          <p style="margin: 0; padding: 0; font-size: 0.8rem; color: grey">
            If you received by error, please ignore and not click on the button
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
